.navbar-light {
    background-color: #ee2677 !important;
}

.navbar-brand {
    color:#eeebd0 !important;
}
.nav-link {
    color: #eeebd0 !important;
}

.jumbotron {
    background-color: #ee2677 !important;
    height: 210px
    }

/* .img-responsive {
    height: 400px;
    border-radius: 50%;
} */

.btn-primary {
    background-color: #eeebd0 !important;
    color: black;
    border: #ee2677;
}
.Work-Section {
    font-display: center;
}

.cardContainer {
    margin-top: 20px;
    
}
  .card {
    margin: 0 auto;
  }
  